* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 26px;

    background-color: #F5F5F5;
}

h1,
h2,
h3 {
    font-weight: lighter;
}

.container {
    max-width: 1366px;
    margin: 0 auto;
}

.action-link,
.card-link,
.contacts-link,
.work-link {
    text-decoration: none;
}



/* header */
.header-nav {
    margin: 34px 0 107px;
}

.header-container {
    display: flex;
    justify-content: space-evenly;
    gap: 70%;
}

/* main */
/* section action */

.action-wrapper {
    height: 620px;
    margin-bottom: 46px;
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);

}

.action {
    margin: 0 113px;
    display: flex;
}

.action-title {
    margin-bottom: 32px;
    font-size: 64px;
    line-height: 74px;
    color: #1F3F68;
}

.action-text {
    width: 62%;
    color: #1F3F68;
    opacity: 0.6;
    margin-bottom: 71px;
}

.action-link {
    display: block;
    text-align: center;
    line-height: 56px;

    width: 220px;
    height: 56px;

    color: #ffffff;
    background-color: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;

}

.action-link:hover {
    box-shadow: none;

    -webkit-animation: rotate-hor-center 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    animation: rotate-hor-center 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@-webkit-keyframes rotate-hor-center {
    0% {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
    }

    100% {
        -webkit-transform: rotateX(-360deg);
        transform: rotateX(-360deg);
    }
}

@keyframes rotate-hor-center {
    0% {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
    }

    100% {
        -webkit-transform: rotateX(-360deg);
        transform: rotateX(-360deg);
    }
}


/* section cards */
.cards {
    margin-bottom: 34px;
}

.cards-title {
    margin-bottom: 66px;

    text-align: center;
    color: black;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
}

.cards-wrapper {
    display: flex;
    gap: 38px;
    justify-content: space-between;
}

.card {
    border-radius: 10px;
    background-color: #ffffff;
    color: #1F3F68;
    padding: 45px 52px 45px 38px;

    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    transition-duration: 0.5s;
}

.card:hover {
    transform: scale(1.2);
}

.card-image {
    display: block;
    margin: auto;
    margin-bottom: 52px;
}

.card-title {
    margin-bottom: 14px;

    font-size: 20px;
    line-height: 30px;

    letter-spacing: 0.05em;
}

.card-text {
    margin-bottom: 30px;
    letter-spacing: 0.05em;
    opacity: 0.6;
}

.card-link {
    font-size: 14px;
    line-height: 30px;

    letter-spacing: 0.05em;

    color: #5A98D0;

    transition-duration: 0.5s;
}

.card-link:hover {
    text-decoration: underline;
}

/* section projects */
.projects-title {
    margin-bottom: 32px;
    text-align: center;
    color: black;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
}

.projects-text {

    margin: 0 17% 65px;
    text-align: center;
    letter-spacing: 0.05em;

    color: #222222;
}

.project-first,
.project-second,
.project-third {
    height: 492px;
    border-radius: 10px;
    position: relative;
}

.project-first {
    margin-bottom: 32px;
    background: linear-gradient(89.99deg, #1F3F68 3.62%, rgba(31, 63, 104, 0.37) 97.78%),
        url(img/home.png) no-repeat;
}

.project-first:hover .project-first-text {
    -webkit-animation: tracking-in-contract 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-contract 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.project-second:hover .project-second-text {
    -webkit-animation: tracking-in-contract 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-contract 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.project-third:hover .project-third-text {
    -webkit-animation: tracking-in-contract2 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-contract2 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-contract {
    0% {
        letter-spacing: 1em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        letter-spacing: normal;
        opacity: 1;
    }
}

@keyframes tracking-in-contract {
    0% {
        letter-spacing: 1em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        letter-spacing: normal;
        opacity: 1;
    }
}

@-webkit-keyframes tracking-in-contract2 {
    0% {
        letter-spacing: 0.6em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        letter-spacing: normal;
        opacity: 1;
    }
}

@keyframes tracking-in-contract2 {
    0% {
        letter-spacing: 0.6em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        letter-spacing: normal;
        opacity: 1;
    }
}


.project-first-text,
.project-second-text,
.project-third-text {
    font-size: 32px;
    line-height: 46px;
    letter-spacing: 0.05em;

    color: #FFFFFF;
    position: absolute;
}

.project-second-text,
.project-third-text {
    left: 38px;
    top: 32px;
}

.project-first-text {
    right: 76px;
    top: 65px;
}

.projects-wrapper {
    display: flex;
    gap: 38px;
    margin-bottom: 107px;
}

.project-second {
    background: linear-gradient(308.85deg, rgba(66, 165, 245, 0.4) -1.71%, rgba(21, 101, 192, 0.6) 74.54%),
        url(img/phone.png) center/100% 100% no-repeat;
}

.project-third {
    background: linear-gradient(306.48deg, rgba(66, 165, 245, 0.4) 0%, rgba(21, 101, 192, 0.6) 97.81%),
        url(img/car.png) center/100% 100% no-repeat;
}

.project-second,
.project-third {
    width: 50%;
    border-radius: 10px;
}

/* footer */
/* section footer-work */
.footer-container {
    background-color: #316099;
    color: #FFFFFF;
}

.footer-work {
    display: flex;
    padding: 91px 113px 96px;
    border-bottom: 1px solid #FFFFFF;
}


.work-title {
    width: 35%;
    margin-bottom: 32px;
    font-size: 36px;
    line-height: 46px;

    letter-spacing: 0.05em;
}

.work-text {
    width: 40%;
    opacity: 0.6;
}

.work-link-wrapper {
    align-self: center;
    width: 236px;
    height: 56px;

    background: #5A98D0;
}

.work-link-wrapper:hover {
    -webkit-animation: rotate-hor-center 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    animation: rotate-hor-center 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

.work-link {
    display: block;
    color: #FFFFFF;
    text-align: center;
    line-height: 56px;
}


/* section footer-contacts */
.footer-contacts {
    padding: 64px 0 38px 113px;
}

.contacts-list {
    margin-bottom: 64px;
    color: #ffffff;
    display: flex;
    gap: 180px;
}

.contacts-item {
    width: 20%;
}

.contacts-link {
    color: #ffffff;
    transition-duration: 0.5s;
}

.contacts-link:hover {
    color: #0a4490;
}

.copyright {
    opacity: 0.4;
}